*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.topNav{
    background-color: hsl(0, 0%, 20%);
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 5vw;
}
.topNavLogo{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
.topNavLogoImg{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.topNavLogoTitles{
    margin-left: 20px
}
.topNavLogoTitle{
    color: white;
    font-size: 2rem;
    font-weight: bold;
}
.topNavLogoSubtitle{
    color: white;
    font-size: 1rem;
    font-weight: bold;
}
.topNavItem{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
.topNavLink{
    font-size: 1.5rem;
    color: white;
    margin-left: 10px;
}
.topNavAboutSvg{
    width: 30px;
    height: 30px;
    fill: white;
}